/* dashboard.tcss */
Horizontal {
    width: 100%;
    height: 100%;
}

Digits {
    width: auto;
}

Static{
    width: auto;
}

Greeting {
    height: 4;
    width: 100%;
    align: center middle;
    content-align: center middle;
    padding: 1 2;
    color: $accent;
    text-style: bold;
    border-bottom: hkey $primary;
}


Clock, WeatherPanel{
    width: 1fr;
    height: 100%;
    align: center middle;
    border: round $primary;
    padding: 1 2;
}

#status-row {
    height: 8;
    width: 100%;
}

#calendar-panel {
    height: 1fr;      /* fills remaining vertical space */
    width: 100%;
    border: round $primary;
    padding: 1 2;
}