/* dashboard.tcss */
Horizontal {
    width: 100%;
    height: 100%;
}

Clock, WeatherPanel {
    width: 1fr;
    height: 100%;
    align: center middle;
    border: round white;
    padding: 1 2;
}

Digits {
    width: auto;
}

Static{
    width: auto;
}